* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #F5F5F5;
}

.header {
  background-color: #0050B3;
}

.header__wrap {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.search__input {
  width: 336px;
  height: 32px;
  padding: 5px 30px 5px 12px;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 14px;
  color: #BFBFBF;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px  center;
}

.search__input::-webkit-input-placeholder {
  color: #BFBFBF;
}

.search__input:-ms-input-placeholder {
  color: #BFBFBF;
}

.search__input::-ms-input-placeholder {
  color: #BFBFBF;
}

.search__input::placeholder {
  color: #BFBFBF;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__user_img {
  margin-right: 8px;
}

.navigation__user_name {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}

.navigation__panel {
  margin: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__panel_link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__panel_link::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-right: 12px;
}

.navigation__panel_link:last-child {
  margin-right: 12px;
}

.navigation__panel_link:last-child::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-left: 12px;
}

.navigation__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__icon_icon {
  fill: #002766;
}

.navigation__icon_icon:hover {
  fill: #fff;
}

.navigation__icon_link {
  margin-right: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__icon_link:last-child:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-right: 12px;
}

.menu {
  width: 192px;
  margin-top: 16px;
  margin-right: 12px;
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.menu__user_img {
  max-width: 24px;
  margin-right: 8px;
  margin-left: 10px;
}

.menu__user_name {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.nav__link:hover {
  background: #FFFFFF;
  color: #262626;
  font-weight: 600;
}

.nav__text {
  margin-left: 8px;
}

.nav__group {
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  margin-left: 8px;
  margin-bottom: 4px;
}

.feed {
  width: 588px;
}

.postF {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 16px;
}

.postF__header {
  background: #F5F5F5;
}

.postF__body {
  padding: 16px 16px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.postF__body_input {
  width: 100%;
  padding: 8px;
}

.postF__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  position: relative;
}

.postF__footer::before {
  content: '';
  width: 95%;
  height: 1px;
  background: #E8E8E8;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.postF__footer_tag {
  background: #F5F5F5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.postF__footer_tag:last-child svg {
  margin-left: 10px;
}

.postF__footer_text {
  margin-left: 8px;
}

.post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.post__header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__header_title {
  padding: 9px 16px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post__header_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__header_avtor {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  font-weight: 600;
  width: 100%;
}

.post__header_avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.post__header_time {
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.post__header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__body {
  margin-bottom: 9px;
}

.post__body_text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}

.post__body_text a {
  color: #096DD9;
  text-decoration: none;
}

.post__body_img {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  max-width: 100%;
}

.post__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post__like svg {
  margin-right: 4px;
}

.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 16px;
  position: relative;
}

.post__footer::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #E8E8E8;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.post__footer_btn {
  border: none;
  background: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post__footer_btn svg {
  margin-right: 8px;
}

.sidebar {
  margin-left: 20px;
  margin-top: 16px;
  width: 384px;
}

.block {
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 16px;
}

.stories {
  padding-left: 24px;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.stories__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  color: #0050B3;
}

.stories__header_title {
  font-weight: 600;
  color: #262626;
}

.stories__header_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories__header_settings svg {
  margin-right: 4px;
}

.stories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.stories__item_text {
  margin-left: 12px;
}

.stories__item_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}

.stories__dropdown {
  color: #0050B3;
}

.bday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bday__title {
  margin-left: 8px;
  color: #0050B3;
  font-weight: 600;
  margin-right: 8px;
}

.fanpage {
  padding: 0;
}

.fanpage__header {
  padding: 16px;
  border-bottom: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fanpage__state {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8C8C8C;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
}

.fanpage__state_title {
  color: #0050B3;
  font-weight: 600;
  margin-bottom: 4px;
}

.fanpage__state_img {
  margin-right: 12px;
}

.fanpage__state_message {
  margin-bottom: 4px;
}

.fanpage__state_notification {
  margin-bottom: 4px;
}

.fanpage__state_notification div {
  padding: 5px;
  display: inline-block;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.fanpage__btn {
  margin: 16px;
}

.fanpage__btn_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fanpage__btn button {
  width: 120px;
  height: 40px;
  border: 1px solid #D9D9D9;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.fanpage__btn button:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.fanpage__btn button:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.fanpage__like {
  padding: 16px;
  text-align: center;
}

.fanpage__like_title {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  margin-bottom: 4px;
}

@media (max-width: 1250px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 95%;
  }
  .navigation__user {
    display: none;
  }
  .navigation__panel {
    display: none;
  }
}

@media (max-width: 750px) {
  .search {
    display: none;
  }
  .menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */